 body {
  background-color: #5F9EA0;
  color: #FFEBCD;
  padding: 40px;
  text-align: center;
}

div {
  background-color: stateblue;
}

h1 {
  font-size: 80px;
  font-family: monospace;
  color: #FFEBCD;
}

h2 {
  font-size: 30px;
  font-family: monospace;
  color: #FFEBCD;
}
p {
    font-size: 25px;
  font-family: monospace;
  color: #FFEBCD;
}
  input {
  font-size: ;
  font-family: ;
  text-align: center;
}
  label {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}

  option {
    font-size: 30px;
    font-family: monospace;
    color: ;
    text-align: center;
}

textarea {
  font-size: 16px;
  font-family: monospace;
  color: #FFEBCD;
}

span {
  background-color: stateblue;
}
    .comment {
        width: 40%;
        height: 100px;
        padding: 10px; url("/uploads/media/default/0001/01/a1d4caa225542c577689287a36f4209808b08c19.jpeg");
        font: 1.4em/1.6em cursive;
        color: #095484;
      }
      }
